<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desert Moon</title>
    {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
{% raw %}
<div id="app">
    <ul>
        <li v-for="log in logs">[{{ log.timestamp }}] {{ log.handle }}: {{ log.text }}</li>
    </ul>
    <input type="text" v-model="command" v-on:keyup.enter="submit"/>
</div>
{% endraw %}
<script>
    var GLOBALS = {
        user: {{ 'yo'|tojson }}
    };
</script>
{% assets 'js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
